{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  {% for dewar in dewars %}
    <div class="page-header">
      <h1>MX Sample Shipment</h1>
    </div>
    <div class="shipment">
      <div>
        <h2>TO:</h2>
        <p>
          MX Beamlines<br/>
          Australian Synchrotron<br/>
          800 Blackburn Rd.<br/>
          Clayton<br/>
          VIC 3168
        </p>
        <p>
          Contact Phone: +61 3 8540 4100<br/>
          Contact Phone: mx@synchrotron.org.au
        </p>
      </div>
      <div>
        <h2>FROM:</h2>
        <p>
          {% for field in ['owner', 'department', 'institute', 'streetAddress',
                           'city', 'state', 'postcode', 'country'] %}
            {% if dewar[field] %}{{ dewar[field] }}<br/>{% endif %}
          {% endfor %}
        </p>
        <p>
          Contact Phone: {{ dewar['phone'] }}<br/>
          Contact Email: {{ dewar['email'] }}<br/>
        </p>
      </div>
      <div id="epn">Samples related to experiment: {{ dewar['epn'] }}</div>
      <div id="dewar">The Dewar ID is: {{ dewar['name'] }}</div>
      <div id="containers">
        Sample containers: {{ dewar['expectedContainers'] }}
      </div>
      <div>
        <img src="{{ qrcode(dewar['qrcode_data'], box_size=6) }}">
      </div>
    </div>
  {% endfor %}
{% endblock %}
