beautifulsoup4==4.4.1
colorama==0.3.6
cookies==2.2.1
dominate==2.1.16
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Login==0.3.2
Flask-QRcode==0.6.0
Flask-Script==2.0.5
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Pillow==3.1.0
portalapi==0.2.3
py==1.4.31
pytest==2.8.7
pytest-splinter==1.7.1
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
qrcode==5.2.2
requests==2.9.1
responses==0.5.1
selenium==2.50.1
six==1.10.0
splinter==0.7.3
vcrpy==1.7.4
visitor==0.1.2
Werkzeug==0.11.3
wrapt==1.10.6
WTForms==2.1
